# python project for data science

Extracting Tesla Stock Data Using yfinance

In [1]:
import yfinance as yf

In [2]:
tesla = yf.Ticker("TSLA")
tesla_stock_data = tesla.history(period="max")

In [3]:
tesla_stock_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
...,...,...,...,...,...,...,...
2023-08-08 00:00:00-04:00,247.449997,250.919998,245.009995,249.699997,96642200,0.0,0.0
2023-08-09 00:00:00-04:00,250.869995,251.100006,241.899994,242.190002,101596300,0.0,0.0
2023-08-10 00:00:00-04:00,245.399994,251.800003,243.000000,245.339996,109498600,0.0,0.0
2023-08-11 00:00:00-04:00,241.770004,243.789993,238.020004,242.649994,98866600,0.0,0.0
2023-08-14 00:00:00-04:00,235.699997,240.660004,233.750000,239.759995,98354300,0.0,0.0

 Extracting Tesla Revenue Data Using Webscraping

In [6]:
import requests

In [8]:
import requests
from bs4 import BeautifulSoup

# Replace this URL with the actual URL of the website containing revenue data
url = "https://www.example.com/tesla-revenue"  

response = requests.get(url)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, "html.parser")
    
    # Hypothetical HTML structure to extract revenue data
    revenue_element = soup.find("span", class_="revenue")
    
    if revenue_element:
        revenue = revenue_element.text
        print(f"Tesla's revenue: {revenue}")
    else:
        print("Revenue data not found.")
else:
    print("Failed to retrieve the webpage.")

Failed to retrieve the webpage.

Extracting GameStop Stock Data Using yfinance

In [9]:
gamestop = yf.Ticker("GME")
gamestop_stock_data = gamestop.history(period="max")

In [10]:
gamestop_stock_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683251,11021600,0.0,0.0
2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0
...,...,...,...,...,...,...,...
2023-08-08 00:00:00-04:00,20.700001,20.900000,20.280001,20.740000,1431300,0.0,0.0
2023-08-09 00:00:00-04:00,20.850000,20.850000,19.820000,19.930000,2929600,0.0,0.0
2023-08-10 00:00:00-04:00,20.000000,20.290001,19.870001,20.190001,1432400,0.0,0.0
2023-08-11 00:00:00-04:00,20.030001,20.379999,19.969999,20.190001,1500200,0.0,0.0
2023-08-14 00:00:00-04:00,19.750000,20.010000,19.080000,19.959999,3323500,0.0,0.0

Extracting GameStop Revenue Data Using Webscraping

In [12]:
import requests
from bs4 import BeautifulSoup

url = "https://www.pubg.com"  # Replace with the actual URL of the PUBG website
response = requests.get(url)

if response.status_code == 200:
    html = response.text
    soup = BeautifulSoup(html, "html.parser")
    
    # Hypothetical HTML structure to extract data
    data_element = soup.find("div", class_="data-container")
    
    if data_element:
        data = data_element.text
        print(f"PUBG website data: {data}")
    else:
        print("Data not found.")
else:
    print("Failed to retrieve the webpage.")

Data not found.

Tesla Stock and Revenue Dashboard

In [17]:
import dash_bootstrap_components as dbc

In [2]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import yfinance as yf
import pandas as pd
import dash_bootstrap_components as dbc

# Initialize the Dash app
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

# Fetch Tesla stock data
tesla = yf.Ticker("TSLA")
tesla_stock_data = tesla.history(period="1y")

# Example revenue data (replace this with your actual data)
revenue_data = pd.DataFrame({
    'Date': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01'],
    'Revenue': [1000000, 1200000, 900000, 1100000]
})

# Create the dashboard layout
app.layout = dbc.Container([
    dbc.Card([
        dbc.CardHeader("Tesla Stock and Revenue Dashboard"),
        dbc.CardBody([
            html.H4("Visualizing Tesla's stock data and revenue."),
        ]),
    ]),
    dcc.Graph(id='stock-graph'),
    dcc.Graph(id='revenue-graph'),
], fluid=True)

# Define callback to update graphs based on user interactions
@app.callback(
    [Output('stock-graph', 'figure'),
     Output('revenue-graph', 'figure')],
    [Input('stock-graph', 'relayoutData')]
)
def update_graphs(selected_range):
    # Process user interactions and update the graphs
    # You can use the 'selected_range' to filter data based on user input

    # Example: Plot Tesla stock data
    stock_fig = {
        'data': [{'x': tesla_stock_data.index, 'y': tesla_stock_data['Close'], 'type': 'line', 'name': 'Tesla Stock'}],
        'layout': {'title': 'Tesla Stock Price'}
    }

    # Example: Plot revenue data
    revenue_fig = {
        'data': [{'x': revenue_data['Date'], 'y': revenue_data['Revenue'], 'type': 'bar', 'name': 'Revenue'}],
        'layout': {'title': 'Tesla Revenue'}
    }

    return stock_fig, revenue_fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

GameStop Stock and Revenue Dashboard

In [4]:
# Initialize the Dash app
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.BOOTSTRAP])

In [5]:
# Fetch GameStop stock data
gamestop = yf.Ticker("GME")
gamestop_stock_data = gamestop.history(period="1y")

In [6]:
# Example revenue data (replace this with your actual data)
revenue_data = pd.DataFrame({
    'Date': ['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01'],
    'Revenue': [800000, 950000, 750000, 900000]
})

In [7]:
# Create the dashboard layout
app.layout = dbc.Container([
    dbc.Card([
        dbc.CardHeader("GameStop Stock and Revenue Dashboard"),
        dbc.CardBody([
            html.H4("Visualizing GameStop's stock data and revenue."),
        ]),
    ]),
    dcc.Graph(id='stock-graph'),
    dcc.Graph(id='revenue-graph'),
], fluid=True)

In [11]:
# Define callback to update graphs based on user interactions
@app.callback(
    [Output('stock-graph', 'figure'),
     Output('revenue-graph', 'figure')],
    [Input('stock-graph', 'relayoutData')]
)
def update_graphs(selected_range):
    # Process user interactions and update the graphs
    # You can use the 'selected_range' to filter data based on user input

    # Example: Plot GameStop stock data
    stock_fig = {
        'data': [{'x': gamestop_stock_data.index, 'y': gamestop_stock_data['Close'], 'type': 'line', 'name': 'GameStop Stock'}],
        'layout': {'title': 'GameStop Stock Price'}
    }

    # Example: Plot revenue data
    revenue_fig = {
        'data': [{'x': revenue_data['Date'], 'y': revenue_data['Revenue'], 'type': 'bar', 'name': 'Revenue'}],
        'layout': {'title': 'GameStop Revenue'}
    }

    return stock_fig, revenue_fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)